/* line 5, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
.clear {
  clear: both;
}

/* line 9, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
h1 {
  text-align: center;
}

/* line 13, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
#galleries {
  /* background-color: red; */
  margin: 0px auto;
  padding: 3px;
}

/* line 19, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
#galleries-container {
  min-width: 150px;
  margin: 0px auto;
}
/* line 23, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
#galleries-container h2 {
  font-size: 15px;
  margin-left: 10px;
}

/* line 29, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
.gallery-board {
  display: inline;
  float: left;
  margin: 3px 10px 3px 10px;
  text-align: center;
}

/* line 36, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
.gallery-title {
  font-size: 15px;
}

/* line 40, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
.gallery-nav {
  margin-bottom: 10px;
}

/* line 44, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
.gallery-nav-links {
  font-size: .75em;
}
/* line 46, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
.gallery-nav-links a {
  margin: 0px 2px 0px 2px;
  color: green;
}

/* line 52, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
.photo {
  float: left;
  margin: 3px 10px 3px 10px;
  text-align: center;
}

/* line 58, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
footer {
  margin-top: 5px;
  font-size: .75em;
}
/* line 61, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/galleries.css.scss */
footer a {
  margin-left: 4px;
  color: green;
}
/* line 5, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/photos.css.scss */
.actual-photo {
  text-align: center;
}
/* line 8, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/photos.css.scss */
.actual-photo img {
  max-width: 90%;
  max-height: 90%;
}

/* line 14, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/photos.css.scss */
.photo-footer {
  text-align: center;
  color: green;
  font-size: 12px;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* line 9, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: "proxima-nova", "Montserrat", "Helvetica", "Serif";
  font-size: 13px;
  line-height: 18px;
}

/* line 17, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
.navbar span {
  display: inline-block;
  vertical-align: middle;
}

/* line 22, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
#mdjd-logo {
  color: black;
  font-weight: bold;
  font-size: 50px;
  margin-right: 10px;
}

/* line 29, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
.navbar a {
  margin-left: 5px;
  color: green;
}

/* line 35, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
#nav-admin {
  padding-top: 11px;
  float: right;
}

/* line 40, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: "proxima-nova", "Montserrat", "Helvetica", "Serif";
  font-size: 13px;
  line-height: 18px;
}

/* line 46, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 52, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}

/* line 57, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 62, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 66, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 72, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 79, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 89, /Users/pc3sq/documents/code/mdjd/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 */
