// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear {
	clear: both;
}

h1 {
	text-align: center;
}

#galleries {
	/* background-color: red; */
	margin: 0px auto;

}

.gallery-cover {


}

.gallery-title {
	font-size: 15px;
}

.gallery-nav {
	margin-bottom: 10px;
}

.gallery-nav-links {
	a { 
		margin: 0px 2px 0px 2px;
		color: green;	
	}
}

.photos {
	text-align: center;
	margin: 0px auto;
}

.photo {
	display: inline;
	text-align: center;
}

footer {
	text-align: center;
	margin: 0px auto;
	a { 
		color: green;	
	}
}