// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: "proxima-nova";
}

h1 {
	text-align: center;
}

.gallery-boards {
	background-color: #fbf9f9;
	margin: 0px auto;
	padding: 3px;
}

.gallery-board {
	float: center;
	margin: 10px 30px 10px 30px;
	text-align: center;
}

.gallery-title {
	font-size: 15px;
}