// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actual-photo {
	text-align: center;
	
	img {
		max-width: 90%;
		max-height: 90%;
	}
}

.photo-footer {
	text-align: center;
	color: green;
	font-size: 12px;
}

form {
	margin: 0px auto;
	max-width: 300px;
}